Hardware/~WRL3980.tmp
Hardware/Assem1.SLDASM
Hardware/BOM/Other BOMs/MSP430AFE253_Demo_Board (2).csv
Hardware/BOM/Other BOMs/MSP430AFE253_Demo_Board.csv
Hardware/BOM/Other BOMs/MSP430AFE253_Demo_Board_BOM - Extra Comps.xlsx
Hardware/BOM/Other BOMs/MSP430AFE253_Demo_Board_BOM_OLD.xlsx
Hardware/BOM/Other BOMs/MSP430AFE253_Demo_Board_DigiKey_BOM.xlsx
Hardware/c-282834-8-c-3d.SLDPRT
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board.drl
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-Back.gbl
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-drl.pho
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-drl.rpt
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-Front.gtl
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-Mask_Back.gbs
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-Mask_Front.gts
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-NPTH.drl
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-NPTH-drl.pho
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-PCB_Edges.gbr
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-SilkS_Back.gbo
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-SilkS_Front.gto
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-SoldP_Back.gbp
Hardware/Gerber_Archive/Rev2/MSP430AFE253_Demo_Board-SoldP_Front.gtp
Hardware/Gerber_Archive/Rev3/Gerbers.zip
Hardware/Gerber_Archive/Rev3/Gerbers_OSHPark.zip
Hardware/Gerber_Archive/Rev3/PCB_Fab.zip
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board.drl
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-B_Cu.gbl
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-B_Mask.gbs
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-B_Paste.gbp
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-B_SilkS.gbo
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-drl.rpt
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-drl_map.pho
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-Edge_Cuts.gbr
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-F_Cu.gtl
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-F_Mask.gts
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-F_Paste.gtp
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-F_SilkS.gto
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-Inner1_Cu.gbr
Hardware/Gerber_Archive/Rev4/MSP430AFE253_Demo_Board-Inner2_Cu.gbr
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board.xln
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-B_Cu.gbl
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-B_Mask.gbs
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-B_SilkS.gbo
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-Edge_Cuts.gko
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-F_Cu.gtl
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-F_Mask.gts
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-F_SilkS.gto
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-Inner1_Cu.g2l
Hardware/Gerber_Archive/Rev4/OSH_Park_Gerbers/MSP430AFE253_Demo_Board-Inner2_Cu.g3l
Hardware/Part1.SLDPRT
OSH Park ~ Order Details.pdf
Quotes/Pad2Pad.pdf
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board_Front.jpg
Rendered_Pics/Rev1/msp430afe253_demo_board_front.p2m
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board_Front.png
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board_Front_Cropped.png
Rendered_Pics/Rev1/msp430afe253_demo_board_front_cropped_vias.p2m
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board_Front_Cropped_Vias.png
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board1.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board2.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board2_Edit.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board3.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board4.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board5.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board6.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board7.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board8.jpg
Rendered_Pics/Rev1/MSP430AFE253_Demo_Board-ISO.png
Rendered_Pics/Rev1/Pics.zip
SKU's.xlsx
